h3{

    color: white;
    size: 30px;
    text-align: center;
    font-family: consolas;

}

h1{

    color: white;
    size: 50px;
    text-align: center;
    font-family: consolas;
    

}

p{

     color: white;  
     size: 50px;
     text-align: justify; 
     font-family: consolas;
     margin: 30px;;
    
    
    
}

.nav-link{

    color :white;
    margin-right: 80px;
    padding-bottom: 60px;

}